<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.choong.spr.mapper.BoardMapper">
  	<select id="selectBoard" resultType="com.choong.spr.domain.BoardDto">
  		SELECT b.id 		id, 		
  			   b.title 		title, 
  			   b.inserted 	inserted,
  			   COUNT(r.id)  numOfReply,
  			   b.views      views
  			   <!-- 게시물 댓글 갯수 기능 추가 -->
  		FROM Board b LEFT JOIN Reply r ON b.id = r.board_Id 
  		GROUP BY b.id
  		ORDER BY id DESC
  		LIMIT #{from }, #{rowPerPage }
  	</select>
  	
  	<select id="selectSearchBoard" resultType="com.choong.spr.domain.BoardDto">
		SELECT b.id 		id, 		
  			   b.title 		title, 
  			   b.inserted 	inserted,
  			   COUNT(r.id)  numOfReply,
  			   <!-- 조회수 기능 추가 -->
  			   b.views      views
  			   <!-- 게시물 댓글 갯수 기능 추가 -->
  		FROM Board b LEFT JOIN Reply r ON b.id = r.board_Id 
		WHERE b.title LIKE #{search}
		GROUP BY b.id
  		ORDER BY id DESC
  		LIMIT #{from }, #{rowPerPage }
  	</select>
  	
 	<select id="selectPageInfo" resultType="int">
  		SELECT Count(id) FROM Board
  	</select>
  	
  	 <select id="selectSearchPageInfo" resultType="int">
  		SELECT Count(id)
  		FROM Board
  		WHERE title LIKE #{search} 
  	</select>
  	
  	<select id="getBoard" resultType="com.choong.spr.domain.BoardDto">
  		SELECT b.id 		id, 		
  			   b.title 		title,
  			   b.body       body,
  			   b.inserted 	inserted,
  			   COUNT(r.id)  numOfReply,
  			   <!-- 조회수 기능 추가 -->
  			   b.views      views
  			   <!-- 본문 댓글 갯수 기능 추가 -->
  		FROM Board b LEFT JOIN Reply r ON b.id = r.board_Id 
  		WHERE b.id = #{id}
  	</select>
  	
  	<update id="updateBoard">
  		UPDATE Board
  		Set title = #{title}, 
  			body  = #{body},
  			views = #{views} 
  		WHERE id = #{id}
  	</update>
  	
  	<delete id="deleteBoard">
  		DELETE FROM Board
  		WHERE id = #{id}
  	</delete>
  	
  	<insert id="insertBoard" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	  	INSERT INTO Board (title, body, inserted, views)
	  	VALUES (#{title}, #{body}, #{inserted}, #{views})
	</insert>
  </mapper>